* { 
    margin: 0;
    padding: 0;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    box-sizing: border-box;
}

.cotainer_body{
   
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 20vw 80vw 0rem;
    grid-template-rows: 4rem auto 20rem;
    overflow:scroll;
}
.container{
    border: 1px solid gray;

}

/* hader */
.header{
    max-height: 4rem;

    grid-column-start: 1;
    grid-column-end: 3;
}
.navbar{
   list-style: none;
        display: flex;
        background-color: #3fad5f   ;
        height: 4rem;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #b6b1b1;
    
}
.myntra_home {
    height: 45px;
}
.action_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.action_bar {
    margin-right: 0%;
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
}
.search_bar{
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;

}
.search_icon {
    box-sizing: content-box;
    height: 20px;
    padding: 10px;

    background-color: #f5f5f6;
    color: #282c3f;
    font-weight: 300;
    border-radius: 4px 0 0 4px;
}
.search_input {
    color: #696e79;
    background-color: #f5f5f6;
    flex-grow: 1;
    height: 40px;
    width: 25rem;
    border: 0;
    border-radius: 0 4px 4px 0;
}
.logo_container {
    margin-left: 4%;
}


/* main */

.aside{
    max-width: 20rem;
    min-height: 76rem;
    grid-row-start: 2;
    grid grid-row-end: 3;
 }



























 
 /* objective main */

.main{
    
    padding: 1rem;
    grid-column-start: 2;
    grid-column-end: 3;
    /* overflow:scroll; */
}

.main{
    padding: 1rem;
 }
 .outer_container{
    height: 97%;
    min-height: 100%;
    display: grid;
     grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;


     display: flex;
    flex-wrap: wrap;
     justify-content: space-evenly;
     align-items: center; 
 
  padding-bottom: 2rem;
 }



 .product_container{
    
     
     transition: all 0.2s;
     padding: 1% 4%;
 }
 .product_container:hover{
    
     border:solid rgba(0, 0, 0, 0.363) .1rem ;
     border-radius: 2rem;
 }
 
 
 .product_image{
     position: relative;
     object-fit: cover;
     transition: all 0.2s;
                 
 
 }
 .product_image:hover{
     transform: scale(1.1);
                 overflow: visible;
                 border-radius: 10%;
                 height:max-content;
 
 
 }
 .product_name{
     padding: 1rem;
     font-size: x-large;
     font-weight: 600;
     font-family: inherit;
     
     
     
 }
 
 .product_subname{
     font-family: inter,sans-serif;
     font-size: 12px;
     font-weight: 400;
     line-height: 14px;
     color: #bdbdbd;
 
 }
 .product_rate{
     color: #388e3c;
     font-size: 13px;
     letter-spacing: -.2px;
     font-weight: 500;
 }
 
 .product_discount{
     display: inline-block;
     margin-left: 8px;
 }
 
 .p_price{    display: inline-block;
     font-size: 16px;
     font-weight: 500;
     color: #212121;
 }
 .p_opreice{
     text-decoration: line-through;
     font-size: 14px;
     color: #878787;
 }
 .P_disc{
     display: inline-block;
     margin-left: 8px;
 }

































/* foootor */
.footer{    
    /* max-height: 20rem; */
    grid-column-start: 1;
    grid-column-end: 3;

}




.footer_container {
    padding: 30px 0px 40px 0px;
    background: rgb(33,33,33);
    
    display: flex;
    justify-content: space-evenly;
}

.footer_column {
    display: flex;
    flex-direction: column;
}

.footer_column h3 {
    color: #8b8b8b;
    font-size: 14px;
    margin-bottom: 25px;
}

.footer_column a {
    color: #fdfdfd;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
}

.copyright {
    color: #94969f;
    background: rgb(33,33,33);
    text-align: center;
    padding: 15px;
}
