* { 
    margin: 0;
    padding: 0;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    box-sizing: border-box;
}

.cotainer_body{
   
    height: 100vh;
    width: 100vw;

    display: grid;
    /* grid-template-columns: 100vw 0rem 0rem; */
    grid-template-rows: 4rem auto 20rem;
    overflow:scroll;
}
.container{
    border: 1px solid gray;

}

/* hader */
.header{
    max-height: 4rem;

    grid-column-start: 1;
    grid-column-end: 3;
}
.navbar{
   list-style: none;
        display: flex;
        background-color: #3fad5f   ;
        height: 4rem;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #b6b1b1;
    
}
.myntra_home {
    height: 45px;
}
.action_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.action_bar {
    margin-right: 0%;
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
}
.search_bar{
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;

}
.search_icon {
    box-sizing: content-box;
    height: 20px;
    padding: 10px;

    background-color: #f5f5f6;
    color: #282c3f;
    font-weight: 300;
    border-radius: 4px 0 0 4px;
}
.search_input {
    color: #696e79;
    background-color: #f5f5f6;
    flex-grow: 1;
    height: 40px;
    width: 25rem;
    border: 0;
    border-radius: 0 4px 4px 0;
}
.logo_container {
    margin-left: 4%;
}


/* main */

/* .aside{
    max-width: 20rem;
    min-height: 76rem;
    grid-row-start: 2;
    grid grid-row-end: 3;
 } */



























 
 /* objective main */

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 10%;
    width: 70%; */
    padding: 1rem;
    grid-column-start: 1;
    grid-column-end: 3;
    
}
.inside_min{
    display: flex;
    flex-direction: column;
   
    background-color: #e8e6e6b2;
    /* height: 80rem; */
    width: 80%; 
}
.item_obj{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    align-items: flex-start;
   
    height: 100%;
    width: 100%;

    
    top: 64px;
    bottom: 0;
    z-index: 2;
    align-self: flex-start;
}



.item_image{
    position:reslative;
   
    display: flex;
    flex-direction: column;
    
    /* height: 100%; */
    width: 50%;
}
.item{
   
    display: flex;
    justify-content: center;
    align-items: center;
    

   
    height: 100%;
    width: 100%;
}
.pimg{
    position: relative;
   
   padding: 1rem;
    object-fit: fill;
    height: 80%;
    width: 80%; 

}
.item_butn{
    display:flex;
    padding: 2px 20px;
    font-size: 1.5rem;
    text-align: center;
 
}
.styled {border: 0;
    
    line-height:3rem;  
    
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 0px;
    
    
    background-image: linear-gradient( to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0) );
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.item_btn1{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(255,159,0);

    margin:  0.5rem;
    cursor: pointer;
    
    
    height: 80%;
    width: 80%;
}
.item_btn2{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(251,100,27);
    
    margin:  0.5rem;
    cursor: pointer;
    
    height: 80%;
    width: 80%;
}
 
  .styled:hover {
    background-color: rgb(255, 128, 0);
    border-radius: .5rem;
  }
  
  .styled:active {
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }





.item_details{
    display: flex;
    flex-direction: column;
    
    /* auto the hight */
    height: auto;
    overflow-y: auto;
    width: 66.66%;
    
    
}
.details{
    
    height:100%;
    width: 100%;
    

}
.dth{
    color: rgb(166,135,135);
}
.item_name{
    text-align: justify;
    padding: 0.5rem;
    font-size:x-large;
    font-weight: 600;
    font-family: inherit;
}
.item_subname{
    padding: 0.5rem;
    text-align: justify;
    font-family: inter,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 14px;
    color: #db5e5e;

}

.item_price{
    text-align: justify;
    display: inline-block;
    font-size:larger;

}
.p_price{    display: inline-block;
    font-size: 16px;
    padding: .5rem;

    font-size: xx-large;
    font-weight: 500;
    color: #212121;
}
.p_opreice{
    text-decoration: line-through;
    font-size: 14px;
    padding: .5rem;

    color: #878787;
}
.P_disc{
    color: rgb(20,190,73);
    display: inline-block;
    margin-left: 8px;
}
.item_simge{
    display: flex;
    justify-content:space-aroun;
    /* overflow: hidden; */
    
}
.spimg{
    position: relative;
   padding: 0.5rem;
    object-fit: fill;
    
   
    object-fit: cover;
    height: 100%;
    width: 100%;


}

.sep_img{
    /* object-fit: cover;
    height: 100% */

}

.item_discount{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* overflow:scroll; */
    

}
.item_discount>p{
    padding: 0.5rem;
    
}



.simlar_item{
    align-self: flex-end;
    display: flex;
    line-height: 2rem;

    
    padding: 1rem;
    height: 10rem;
    width: 100%;
}
.simlar_product{
    border:1px solid black;
    height: 100%;
    width: 100%

}



































/* foootor */
.footer{    
    /* max-height: 20rem; */
    grid-column-start: 1;
    grid-column-end: 3;

}




.footer_container {
    padding: 30px 0px 40px 0px;
    background: rgb(33,33,33);
    
    display: flex;
    justify-content: space-evenly;
}

.footer_column {
    display: flex;
    flex-direction: column;
}

.footer_column h3 {
    color: #8b8b8b;
    font-size: 14px;
    margin-bottom: 25px;
}

.footer_column a {
    color: #fdfdfd;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
}

.copyright {
    color: #94969f;
    background: rgb(33,33,33);
    text-align: center;
    padding: 15px;
}
